#logo{
  min-width: 150px;
  width: 20%;
}

#divPrincipal{
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 1%;
}

html{
  background-image: url(../img/fondo.png) !important;
  background-repeat: repeat-x repeat-y !important;
}

body{
    background-color: transparent;
}

header{
  background-color:transparent !important;
}

nav{
  background-color:transparent !important;
	font-weight: bold;
}

.navbar{
		border: 0 !important;
		margin: 0 !important;
}
.nav-right{
		float: right !important;
}

.navbar-default .navbar-nav > li > a{
		color: #86588F !important;		
}

.navbar-default .navbar-nav > li > a:hover{
	border-color: transparent;
}


.navbar-collapse, .navbar-default{
		border-color: transparent;
		padding: 0 !important;
		width: 100%;
}

.container-fluid > .navbar-collapse{
		margin: 0 !important;
}

.container-fluid{
		margin: 0 !important;
		padding: 0 15 0 0 !important;
}

section {
		padding: 50;
		height: auto;
  	background-color: #FAFAFA;
}

article{
    text-align: justify;
}

.section-header > hr{
		border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-tabs > li.active > a{
  background-color: #FAFAFA !important;
  color: inherit !important;
	border-color: transparent;
}

.nav-tabs > li.active > a:hover{
	border-color: transparent !important;
}

.nav-tabs > li > a{
  color: #86588F !important;
}

.navbar-default .navbar-toggle{
		background-color: white !important;
}

.izquierda{
	float: right;
	padding: 14;
}

.divInicioSesion{
	padding: 50;
	height: 100%;
}

.inicioSesion{
	float:right;
}

.form-horizontal .has-feedback .form-control-feedback {
	right: 0;
}

.gtech{
	margin-left: 5%;
	width: 20%;
}

.coworking{
	margin-left: 5%;
	width: 30%;
}

.form-control{
	display: inherit !important;
	border-radius: 20px;
	width: 40%;
}

.logoEmpresa{
	width: 20%;
	float:left;
}

.nombreEmpresa{
	font-weight: bold;
	margin-left: 25%;
}

.descripcionEmpresa, .masInfoEmpresa{
	margin-left: 25%;
}

.empresas, eventos{
	margin-bottom: 5%;
}

.logoEvento{
	width: 24%;
	margin-top: 1%;
	float: left;
}

.nombreEvento{
	font-size: 22px;
	font-weight: bold;
	margin-left: 26%;
}

.descripcionEvento, .masInfoEvento{
	margin-left: 26%;
}

.fechaEvento{
	float:right;
	margin-top: -5%;
	font-weight: bold;
	font-size: 14px;
}

.eventoGratuito{
	margin-left: 2%;
}


@media (max-width: 768px) {
	#logo{
		display: block;
		margin: 0 auto;
		width: 20%;
		margin-top: 1%;
	}
	
	h1{
		font-size: 24px;
	}
	
	h2{
		font-size: 20px;
	}
	
	#divPrincipal{
		display: block;
		margin: 0 auto;
		width: 100%;
		margin-top: 1%;
	}
	
	.navbar-nav li{
		float:none;
		background-color: transparent !important;
		text-align: right;
 	}
	
	.navbar-collapse{
			border-color: transparent !important;
	}
		
	.navbar-right{
			border: 0;
	}
		
	.nav-tabs{
			border: 0 !important;
			border-color: transparent;
	}

	.navbar-nav li.active a{
			background-color: transparent !important;
			border: 0;
	}

	.izquierda{
		margin: 0;
		float: inherit;
		padding: 0;
	}

	.divInicioSesion{
		width: 100%;
		padding: 30;
		height: 100%;
	}
	
	section{
		padding: 30;
	}
	
	.gtech{
		display: none;
	}
	
	.coworking{
		display: none;
	}
	
	.form-control{
		display: inherit !important;
		border-radius: 20px;
		width: 100%;
	}
	
	.logoEmpresa{
		float:none;
		display: block;
		margin: 0 auto;
		margin-top: 1%;
		width: 30%;
	}
	
	.nombreEmpresa{
		font-weight: bold;
		margin-left: 2%;
	}

	.descripcionEmpresa, .masInfoEmpresa{
		margin-left: 2%;
	}

	.empresas, eventos{
		margin-bottom: 5%;
	}
	
	.logoEvento{
		float:none;
		display: block;
		margin: 0 auto;
		margin-top: 1%;
		width: 80%;
	}
	
	.nombreEvento{
		font-weight: bold;
		margin-left: 1%;
	}

	.descripcionEvento, .masInfoEvento{
		margin-left: 1%;
	}
	
	.fechaEvento{
		float:none;
		margin-top: 0;
		font-weight: bold;
		font-size: 14px;
	}

	.eventoGratuito{
		margin-left: 2%;
	}

}
