#logo{
  min-width: 150px;
  width: 20%;
}

#divPrincipal{
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-top: 1%;
}

html{
  background-image: url(../img/fondo.png) !important;
  background-repeat: repeat-x repeat-y !important;
}

body{
    background-color: transparent;
}

header{
  background-color:transparent !important;
}

nav{
  background-color:transparent !important;
	font-weight: bold;
}

.navbar{
		border: 0 !important;
		margin: 0 !important;
}
.nav-right{
		float: right !important;
}

.navbar-default .navbar-nav > li > a{
		color: #86588F !important;
}

.navbar-collapse, .navbar-default{
		border-color: transparent;
		padding: 0 !important;
		width: 100%;
}

.container-fluid > .navbar-collapse{
		margin: 0 !important;
}

.container-fluid{
		margin: 0 !important;
		padding: 0 15 0 0 !important;
}

section {
		padding: 20 20 20 20;
		height: 100%;
  	background-color: #FAFAFA;
}

article{
    text-align: justify;
}

.section-header > hr{
		border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-tabs > li.active > a{
  background-color: #FAFAFA !important;
  color: inherit !important;
}

.nav-tabs > li > a{
  color: #86588F !important;
}

.navbar-default .navbar-toggle{
		background-color: white !important;
}
@media (max-width: 768px) {
    .navbar-nav li{
      float:none;
			background-color: transparent !important;
			text-align: right;
   }
		
		.navbar-collapse{
				border-color: transparent !important;
		}
		
		.navbar-right{
				border: 0;
		}
		
		.nav-tabs{
				border: 0 !important;
				border-color: transparent;
		}
		
		.navbar-nav li.active a{
				background-color: transparent !important;
				border: 0;
		}
		
}
